<div class="grid-margin stretch-card d-block">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Données initiales</h4>
      <p class="card-description">Remplissez les informations de l'intervention</p>

      <form [formGroup]="form" (ngSubmit)="saveStep()">
        <div class="row">
          <div class="col-sm-6">
            <div class="mb-3">
              <label for="priorite">Priorité <strong class="text-danger">*</strong></label>
              <select id="priorite" class="form-select form-select-sm" formControlName="priorite">
                <option value="" disabled>Sélectionner la priorité</option>
                <option value="haute">Haute</option>
                <option value="moyenne">Moyenne</option>
                <option value="basse">Basse</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="referents">Référent(s) <strong class="text-danger">*</strong></label>
              <select id="referents" class="form-select form-select-sm" formControlName="referent_ids" multiple style="height: 50px !important;">
                <option *ngFor="let referent of referentsList" [value]="referent.id">
                  {{ referent.nom }}
                </option>
              </select>
            </div>

            <div class="mb-3">
              <label for="etat">État <strong class="text-danger">*</strong></label>
              <select id="etat" class="form-select form-select-sm" formControlName="etat">
                <option [value]="null" disabled>Choisir...</option>
                <option value="annulee">Annulée</option>
                <option value="en_cours">En cours</option>
                <option value="prevue">Prévue</option>
                <option value="terminee_avec_succes">Terminée avec succès</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="date_butoir_realisation">Date butoir de réalisation <strong
                  class="text-danger">*</strong></label>
              <input type="date" id="date_butoir_realisation" class="form-control form-control-sm"
                formControlName="date_butoir_realisation">
            </div>

            <div class="mb-3">
              <label for="date_cloture_estimee">Date de clôture estimée de l'affaire</label>
              <input type="date" id="date_cloture_estimee" class="form-control form-control-sm"
                formControlName="date_cloture_estimee">
            </div>
          </div>

          <div class="col-sm-6">

            <div class="mb-3">
              <label class="form-label">Mots-clés liés <i class="mdi mdi-help-circle-outline ms-1"></i></label>
              <ng-select [items]="motsClesDisponibles" bindLabel="libelle" [multiple]="true" [addTag]="true"
                [compareWith]="compareFn" formControlName="motsCles" placeholder="Choisir..."
                class="custom-astro-select">
              </ng-select>
            </div>

            <div class="mb-3">
              <label for="montant_intervention">Montant de l’intervention</label>
              <input type="number" id="montant_intervention" class="form-control form-control-sm"
                formControlName="montant_intervention">
            </div>

            <div class="mb-3">
              <label for="montant_main_oeuvre">Montant main-d'œuvre</label>
              <input type="number" id="montant_main_oeuvre" class="form-control form-control-sm"
                formControlName="montant_main_oeuvre">
            </div>

            <div class="mb-3">
              <label for="montant_fournitures">Montant fournitures</label>
              <input type="number" id="montant_fournitures" class="form-control form-control-sm"
                formControlName="montant_fournitures">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>