.login-card {
  width: 100%;
  max-width: 450px;
  background: #fff;
}

.input-group-custom {
  display: flex;
  align-items: center;
}

.input-icon {
  position: absolute;
  left: 15px;
  font-size: 1.2rem;
  color: #6c757d;
  z-index: 10;
}

.custom-input {
  padding-left: 45px !important; /* Laisse de la place pour l'icône */
  height: 50px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  transition: all 0.3s ease;
}

.custom-input:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.1);
}

.btn-primary-gradient {
  background: linear-gradient(to right, #17a2b8, #007b8a);
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

.btn-primary-gradient:hover:not(:disabled) {
  transform: translateY(-2px);
  filter: brightness(1.1);
}

.extra-small {
  font-size: 0.75rem;
}

.hover-link:hover {
  color: #0d6efd !important;
}